default_password=12345
base_url=https://automationexercise.com
base_api_url=https://automationexercise.com/api
# BROWSER
is_remote=false
remote_url=
browser_name=chrome
browser_version=139.0
browser_size=[1920,1080]
browser_headless=false
browser_timeout=4
browser_page_load_timeout=10
browser_hold_driver_on_exit=False
#
# GITHUB
github_api_url=https://api.github.com
github_account_name=arrnel
github_repo_name=automation-excercise-py
github_token=
github_token_name=
#
# Test data
email_domain=example