services:

  selenoid:
    container_name: selenoid
    image: aerokube/selenoid:1.11.3
    platform: linux/${ARCH}
    volumes:
      # Host machine should have same path for video. And add path in docker in resources -> file sharing.
      # Or add in enable in environment OVERRIDE_VIDEO_OUTPUT_DIR
      - /opt/selenoid/video:/opt/selenoid/video
      - ./env/docker/selenoid/local/browsers.json:/opt/selenoid/browsers.json
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ=Europe/Moscow
#      - OVERRIDE_VIDEO_OUTPUT_DIR=/path/to/config/video
    restart: unless-stopped
    command: [
      "-conf", "/opt/selenoid/browsers.json",
      "-limit", "2",
      "-video-output-dir", "/opt/selenoid/video",
      "-log-output-dir", "/opt/selenoid/logs",
      "-container-network", "automation-exercise-py_automation_exercise-network"
    ]
    ports:
      - "4444:4444"
    networks:
      - automation_exercise-network

  selenoid-ui:
    container_name: selenoid-ui
    image: aerokube/selenoid-ui:1.10.11
    depends_on:
      - selenoid
    restart: unless-stopped
    ports:
      - "5052:8080"
    command: [ "--selenoid-uri", "http://selenoid:4444" ]
    networks:
      - automation_exercise-network

  automation-exercise-tests:
    container_name: automation-exercise-tests
    image: ${PREFIX}/automation-exercise-tests:latest
    build:
      context: ./
      dockerfile: ./Dockerfile
    environment:
      - ENV=${ENV:-docker}
      - PYTEST_MARK_EXPR=${PYTEST_MARK_EXPR:-}
      - PYTEST_ARGS=${PYTEST_ARGS:-}
      - BASE_URL=${BASE_URL:-}
      - BASE_API_URL=${BASE_API_URL:-}
      - REMOTE_TYPE=${REMOTE_TYPE:-}
      - REMOTE_URL=${REMOTE_URL:-}
      - BROWSER_NAME=${BROWSER_NAME:-}
      - BROWSER_VERSION=${BROWSER_VERSION:-}
      - BROWSER_SIZE=${BROWSER_SIZE:-}
      - BROWSER_HEADLESS=${BROWSER_HEADLESS:-}
      - BROWSER_TIMEOUT=${BROWSER_TIMEOUT:-}
      - BROWSER_SCRIPTS_TIMEOUT=${BROWSER_SCRIPTS_TIMEOUT:-}
      - BROWSER_PAGE_LOAD_TIMEOUT=${BROWSER_PAGE_LOAD_TIMEOUT:-}
      - BROWSER_PAGE_LOAD_STRATEGY=${BROWSER_PAGE_LOAD_STRATEGY:-}
      - BROWSER_DOWNLOAD_DIR=${BROWSER_DOWNLOAD_DIR:-}
      - BROWSER_OVERRIDE_DOWNLOADED_FILE_DIR=${BROWSER_OVERRIDE_DOWNLOADED_FILE_DIR:-}
      - BROWSER_REMOTE_VNC=${BROWSER_REMOTE_VNC:-}
      - BROWSER_REMOTE_VIDEO=${BROWSER_REMOTE_VIDEO:-}
      - BROWSER_REMOTE_LOGS=${BROWSER_REMOTE_LOGS:-}
      - BROWSER_REMOTE_AUDIO=${BROWSER_REMOTE_AUDIO:-}
      - BROWSER_REMOTE_SESSION_TIMEOUT=${BROWSER_REMOTE_SESSION_TIMEOUT:-}
      - DEFAULT_USER_AGENT=${DEFAULT_USER_AGENT:-}
      - HTTP_TIMEOUT=${HTTP_TIMEOUT:-}
      - DEFAULT_EMAIL=${DEFAULT_EMAIL:-}
      - DEFAULT_PASSWORD=${DEFAULT_PASSWORD:-}
      - EMAIL_DOMAIN=${EMAIL_DOMAIN:-}
      - REWRITE_ALL_SCREENSHOTS=${REWRITE_ALL_SCREENSHOTS:-}
      - DEFAULT_PERCENT_OF_TOLERANCE=${DEFAULT_PERCENT_OF_TOLERANCE:-}
      - ALLURE_ATTACH_TEST_ARTIFACTS=${ALLURE_ATTACH_TEST_ARTIFACTS:-}
      - ALLURE_ATTACH_TEST_VIDEO=${ALLURE_ATTACH_TEST_VIDEO:-}
      - EXPECTED_PRODUCT_ID=${EXPECTED_PRODUCT_ID:-}
      - EXPECTED_PRODUCT_IDS=${EXPECTED_PRODUCT_IDS:-}
      - RECOMMENDED_PRODUCT_IDS=${RECOMMENDED_PRODUCT_IDS:-}
      - EXPECTED_CREDIT_CARD=${EXPECTED_CREDIT_CARD:-}
      - PATH_TO_FILES=${PATH_TO_FILES:-}
      - LOG_LVL=${LOG_LVL:-}
      - API_LOG_LVL=${API_LOG_LVL:-}
      - GH_API_URL=${GH_API_URL:-}
      - GH_TOKEN=${GH_TOKEN:-}
      - GH_TOKEN_NAME=${GH_TOKEN_NAME:-}
      - GH_ACCOUNT_NAME=${GH_ACCOUNT_NAME:-}
      - GH_REPO_NAME=${GH_REPO_NAME:-}
    volumes:
      - ./allure-results:/allure-results
      - ./resources/files:/automation-exercise-py/resources/files
      - test_files_volume:/test_temp_files:rw
    depends_on:
      selenoid:
        condition: service_started
    networks:
      - automation_exercise-network

volumes:
  test_files_volume:

networks:
  automation_exercise-network:
    driver: bridge
