name: API test run

on:
  workflow_dispatch:

jobs:
  api_test:
    runs-on: ubuntu-latest
    env:
      # ---------- ENDPOINTS
      BASE_URL: ${{ vars.BASE_URL }}
      BASE_API_URL: ${{ vars.BASE_API_URL }}
      GH_API_URL: ${{ github.api_url }}
      # ---------- COMMON
      API_LOG_LVL: ${{ vars.API_LOG_LVL }}
      ENV: ci
      LOG_LVL: ${{ vars.LOG_LVL }}
      PYTEST_ARGS: ${{ vars.PYTEST_API_MARK_EXPR }}
      PYTEST_MARK_EXPR: api_test
      # ---------- API
      DEFAULT_USER_AGENT: ${{ vars.DEFAULT_USER_AGENT }}
      HTTP_TIMEOUT: ${{ vars.HTTP_TIMEOUT }}
      # ---------- UI
      ALLURE_ATTACH_TEST_ARTIFACTS: ${{ vars.ALLURE_ATTACH_TEST_ARTIFACTS }}
      ALLURE_ATTACH_TEST_VIDEO: ${{ vars.ALLURE_ATTACH_TEST_VIDEO }}
      BROWSER_NAME: ${{ vars.BROWSER_NAME }}
      BROWSER_VERSION: ${{ vars.BROWSER_VERSION }}
      BROWSER_SIZE: ${{ vars.BROWSER_SIZE }}
      BROWSER_HEADLESS: ${{ vars.BROWSER_HEADLESS }}
      BROWSER_TIMEOUT: ${{ vars.BROWSER_TIMEOUT }}
      BROWSER_SCRIPTS_TIMEOUT: ${{ vars.BROWSER_SCRIPTS_TIMEOUT }}
      BROWSER_PAGE_LOAD_STRATEGY: eager
      BROWSER_PAGE_LOAD_TIMEOUT: ${{ vars.BROWSER_PAGE_LOAD_TIMEOUT }}
      BROWSER_DOWNLOAD_DIR: ${{ vars.BROWSER_DOWNLOAD_DIR }}
      BROWSER_OVERRIDE_DOWNLOADED_FILE_DIR: ${{ vars.BROWSER_OVERRIDE_DOWNLOADED_FILE_DIR }}
      BROWSER_REMOTE_VNC: ${{ vars.BROWSER_REMOTE_VNC }}
      BROWSER_REMOTE_VIDEO: ${{ vars.BROWSER_REMOTE_VIDEO }}
      BROWSER_REMOTE_LOGS: ${{ vars.BROWSER_REMOTE_LOGS }}
      BROWSER_REMOTE_AUDIO: ${{ vars.BROWSER_REMOTE_AUDIO }}
      BROWSER_REMOTE_SESSION_TIMEOUT: ${{ vars.BROWSER_REMOTE_SESSION_TIMEOUT }}
      DEFAULT_PERCENT_OF_TOLERANCE: ${{ vars.DEFAULT_PERCENT_OF_TOLERANCE }}
      DEFAULT_SCREENSHOT_TIMEOUT: ${{ vars.DEFAULT_SCREENSHOT_TIMEOUT }}
      PATH_TO_FILES: ${{ vars.PATH_TO_FILES }}
      REMOTE_TYPE: ${{ vars.REMOTE_TYPE }}
      REMOTE_URL: ${{ vars.REMOTE_URL }}
      REWRITE_ALL_SCREENSHOTS: false
      # ---------- GITHUB
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      GH_TOKEN_NAME: ${{ vars.GH_TOKEN_NAME }}
      GH_ACCOUNT_NAME: ${{ github.repository_owner }}
      GH_REPO_NAME: ${{ vars.GH_REPO_NAME }}
      # ---------- EXPECTED DATA
      DEFAULT_EMAIL: ${{ secrets.DEFAULT_EMAIL }}
      DEFAULT_PASSWORD: ${{ secrets.DEFAULT_PASSWORD }}
      EMAIL_DOMAIN: ${{ secrets.EMAIL_DOMAIN }}
      EXPECTED_PRODUCT_ID: ${{ vars.EXPECTED_PRODUCT_ID }}
      EXPECTED_PRODUCT_IDS: ${{ vars.EXPECTED_PRODUCT_IDS }}
      EXPECTED_CREDIT_CARD: ${{ vars.EXPECTED_CREDIT_CARD }}
      RECOMMENDED_PRODUCT_IDS: ${{ vars.RECOMMENDED_PRODUCT_IDS }}
      # ---------- OTHER
      ARCH: ${{ vars.ARCH }}
      BUILD_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
      PREFIX: ${{ github.repository_owner }}
      PYTHON_VERSION: ${{ vars.PYTHON_VERSION }}
      SHOW_TEST_CONTAINER_LOGS: ${{ vars.SHOW_TEST_CONTAINER_LOGS }}


    steps:

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ env.GITHUB_SHA }}

      - name: Setup Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v4
        with:
          python-version: "${{ env.PYTHON_VERSION }}"

      - name: Run tests
        id: test_run
        if: always()
        run: |
          set -euo pipefail
          
          SHOW_LOGS="${{ env.SHOW_TEST_CONTAINER_LOGS }}"
          
          docker compose -f docker-compose.ci.yaml up -d
          docker ps -a
          docker wait automation-exercise-tests
          
          if [ "$SHOW_LOGS" = "true" ]; then
            echo "### Test logs ###"
            docker logs automation-exercise-tests
          fi
        continue-on-error: true

      - name: Get Allure history
        uses: actions/checkout@v2
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Allure Report action from marketplace
        uses: simple-elf/allure-report-action@master
        if: always()
        #id: allure-report
        with:
          allure_results: allure-results
          #gh_pages: gh-pages
          #allure_report: allure-report
          allure_history: allure-history

      - name: Deploy report to Github Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v2
        env:
          PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: allure-history
