name: Nightly run

on:
  workflow_dispatch:
    inputs:

      TEST_TITLE:
        description: Test Run Title. Will added in Allure Report Title
        type: string
        required: false
        default: ""

  schedule:
    - cron: "30 4 * * MON"# Every MONDAY at 04:30 AM

jobs:
  test-run:
    runs-on: ubuntu-latest
    env:
      # ---------- ENDPOINT
      BASE_API_URL: ${{ vars.BASE_API_URL }}
      BASE_URL: ${{ vars.BASE_URL }}
      GH_API_URL: ${{ github.api_url }}
      # ---------- COMMON
      API_LOG_LVL: ${{ vars.API_LOG_LVL }}
      ENV: ci
      LOG_LVL: ${{ vars.LOG_LVL }}
      PYTEST_ARGS: ${{ vars.PYTEST_ARGS_WEB }}
      PYTEST_MARK_EXPR: ${{ vars.PYTEST_MARK_EXPR_NOT_SCREENSHOT }}
      # ---------- API
      DEFAULT_USER_AGENT: ${{ vars.DEFAULT_USER_AGENT }}
      HTTP_TIMEOUT: ${{ vars.HTTP_TIMEOUT }}
      # ---------- UI
      ALLURE_ATTACH_TEST_ARTIFACTS: ${{ vars.ALLURE_ATTACH_TEST_ARTIFACTS }}
      ALLURE_ATTACH_TEST_VIDEO: ${{ vars.ALLURE_ATTACH_TEST_VIDEO }}
      BROWSER_NAME: ${{ vars.BROWSER_NAME }}
      BROWSER_VERSION: ${{ vars.BROWSER_VERSION }}
      BROWSER_SIZE: ${{ vars.BROWSER_SIZE }}
      BROWSER_HEADLESS: ${{ vars.BROWSER_HEADLESS }}
      BROWSER_TIMEOUT: ${{ vars.BROWSER_TIMEOUT }}
      BROWSER_SCRIPTS_TIMEOUT: ${{ vars.BROWSER_SCRIPTS_TIMEOUT }}
      BROWSER_PAGE_LOAD_STRATEGY: eager
      BROWSER_PAGE_LOAD_TIMEOUT: ${{ vars.BROWSER_PAGE_LOAD_TIMEOUT }}
      BROWSER_DOWNLOAD_DIR: ${{ vars.BROWSER_DOWNLOAD_DIR }}
      BROWSER_REMOTE_VNC: ${{ vars.BROWSER_REMOTE_VNC }}
      BROWSER_REMOTE_VIDEO: ${{ vars.BROWSER_REMOTE_VIDEO }}
      BROWSER_REMOTE_LOGS: ${{ vars.BROWSER_REMOTE_LOGS }}
      BROWSER_REMOTE_AUDIO: ${{ vars.BROWSER_REMOTE_AUDIO }}
      BROWSER_REMOTE_SESSION_TIMEOUT: ${{ vars.BROWSER_REMOTE_SESSION_TIMEOUT }}
      DEFAULT_PERCENT_OF_TOLERANCE: ${{ vars.DEFAULT_PERCENT_OF_TOLERANCE }}
      DEFAULT_SCREENSHOT_TIMEOUT: ${{ vars.DEFAULT_SCREENSHOT_TIMEOUT }}
      PATH_TO_FILES: ${{ vars.PATH_TO_FILES }}
      REMOTE_TYPE: ${{ vars.REMOTE_TYPE }}
      REMOTE_URL: ${{ vars.REMOTE_URL }}
      REWRITE_ALL_SCREENSHOTS: false
      # ---------- GITHUB
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      GH_TOKEN_NAME: ${{ vars.GH_TOKEN_NAME }}
      GH_ACCOUNT_NAME: ${{ github.repository_owner }}
      GH_REPO_NAME: ${{ vars.GH_REPO_NAME }}
      # ---------- EXPECTED DATA
      DEFAULT_EMAIL: ${{ secrets.DEFAULT_EMAIL }}
      DEFAULT_PASSWORD: ${{ secrets.DEFAULT_PASSWORD }}
      EMAIL_DOMAIN: ${{ secrets.EMAIL_DOMAIN }}
      EXPECTED_PRODUCT_ID: ${{ vars.EXPECTED_PRODUCT_ID }}
      EXPECTED_PRODUCT_IDS: ${{ vars.EXPECTED_PRODUCT_IDS }}
      EXPECTED_CREDIT_CARD: ${{ vars.EXPECTED_CREDIT_CARD }}
      RECOMMENDED_PRODUCT_IDS: ${{ vars.RECOMMENDED_PRODUCT_IDS }}
      # ---------- OTHER
      ARCH: ${{ vars.ARCH }}
      BUILD_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
      PREFIX: ${{ github.repository_owner }}
      PYTHON_VERSION: ${{ vars.PYTHON_VERSION }}
      SHOW_LOGS: ${{ vars.SHOW_TEST_CONTAINER_LOGS }}
      WORKFLOW_REPORT_ID: nightly

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ env.GITHUB_SHA }}

      - name: Set TEST_TITLE
        uses: ./.github/actions/test-run-title
        with:
          test_title: ${{ inputs.TEST_TITLE }}

      - name: Setup Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v4
        with:
          python-version: "${{ env.PYTHON_VERSION }}"

      - name: Pull browser image
        uses: ./.github/actions/pull-browser
        with:
          browser: ${{ env.BROWSER_NAME }}
          version: ${{ env.BROWSER_VERSION }}
          enable_video: ${{ env.BROWSER_REMOTE_VIDEO }}

      - name: Checkout workflow-resources branch
        uses: actions/checkout@v4
        with:
          ref: workflow-resources
          path: workflow-resources

      - name: Prepare workflow-resources directory
        run: |
          set -e
          mkdir -p workflow-resources/screenshot

      - name: Run API + WEB tests
        uses: ./.github/actions/run-tests
        if: always()
        continue-on-error: true
        with:
          remove_compose_data: true

      - name: Update env variables for SCREENSHOT test run
        if: always()
        run: |
          echo "PYTEST_MARK_EXPR=${{ vars.PYTEST_MARK_EXPR_SCREENSHOT }}" >> $GITHUB_ENV
          echo "PYTEST_ARGS=${{ vars.PYTEST_ARGS_SCREENSHOT }}" >> $GITHUB_ENV
          echo "PAGE_LOAD_STRATEGY=normal" >> $GITHUB_ENV

      - name: Run SCREENSHOT tests
        uses: ./.github/actions/run-tests
        if: always()
        continue-on-error: true

      - name: Generate and Deploy Allure Report in GitHub Pages
        uses: ./.github/actions/generate-and-deploy-allure-report
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          subfolder: '${{ env.WORKFLOW_REPORT_ID }}'
          report_name: ${{ env.TEST_TITLE }}
          allure_results_path: allure-results
          allure_history_path: allure-history
          report_branch: gh-pages
